body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.bg img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.sign {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
    min-width: 600px;
    min-height: 600px;
    margin-bottom: 10vh;  
    max-width: 100%;
    max-height: 100%;

    justify-self: flex-end;
   

}


@media only screen and ( min-width: 768px) {
    .sign  {        
        margin-bottom: 20px;  
        min-width: 340px;
        min-height: 340px;
        width: 40vh;
        height: 40vh;

    }

    .eule {
        margin-left: 12vw;
    }
} 


@media only screen and ( min-width: 1024px) { 
    .eule {
        margin-left: 20vw;
        transition: all 0.1s ease;
    }
}

.eule {
    width: auto;
}

.sign-bg-img {
    background-image: url('rahmen.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.3);
}
.sign-bg {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    
    position: absolute;
    box-shadow: inset 0px 20px 40px 30px rgba(0,0,0,0.4);
    z-index: -1;
}
.sign-bg-wrapper  { 
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}
.sign-content {

}
.eule {
    position: absolute;
    left: 0;
    max-height: 100%;
    object-fit: contain;
}

.under-construction {
    font-family: fantasy;
    transform: rotate(5deg);
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: lighter;
    color: red;
}

.logo {

}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.1);
    padding: 8px;
    /* padding-left: 12px; */
    background: white;
    color: black;
    border-radius: 20px;

}

.email svg {
    height: 100%;
    margin-right: 8px;
    opacity: 0.6;
    max-height: 1.5rem;
}