body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: fantasy, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}
.bg img {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    height: 100%;

}

.container {
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
}
.sign {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    flex: 1 1 0;
    min-width: min(80vw, 80vh);
    min-height: min(80vw, 80vh);
    margin-bottom: 12vh;  
    max-width: 100%;
    max-height: 100%;

    justify-self: flex-end;
   

}


.eule {
    width: auto !important;
}

.sign-bg-img {
    background-image: url('rahmen.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.sign-bg {
    background-color: rgba(250, 235, 215, 0.4);
    backdrop-filter: sepia(90%) brightness(1.1) contrast(0.5);
    -webkit-backdrop-filter: sepia(90%) brightness(1.1) contrast(0.5);

    width: calc(100% - 60px);
    height: 100%;
    margin: 30px;
    margin-top: 0;
    margin-bottom: 0;
    position: absolute;
    box-shadow: inset 0px 40px 15px 10px rgba(0,0,0,0.4), 0 0 40px 20px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 0px 40px 15px 10px rgba(0,0,0,0.4), 0 0 40px 20px rgba(0,0,0,0.3);
    z-index: -1;
}
.sign-bg-wrapper  { 
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}
.sign-content {
    padding: 48px;
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eule {
    position: absolute;
    left: 0;
    max-height: 100%;
    object-fit: contain;
}

.under-construction {
    font-family: fantasy;
    transform: rotate(5deg);
    text-transform: capitalize;
    font-size: 1.5em;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}

.logo {

}

.email {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    padding: 4px;
    padding-bottom: 2rem;
    /* height: 140px;
    width: 140px; */
    /* background: rgba(255,255,255, 0.2); */
    color: black;
    /* border-radius: 20px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
    /* fill: rgba(0, 0, 0, 0.5); */
    fill: rgba(0, 88, 0, 0.6);
}
.email:hover {
    transform: scale(1.1);
    fill: rgba(0, 128, 0, 0.6);
    color: rgba(0,100,0, 1);
    text-shadow: 0 0 40px rgba(255,255,255, 0.8);
    -webkit-text-shadow: 0 0 40px rgba(255,255,255, 0.8);
}
.email svg, .email img {
    height: 40px;
    margin-top: 4px;
    opacity: 1;
}

.email svg {
    box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 15px 0px rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.6);
    height: 40px;
    margin-top: 4px;
    /* width: 50px; */
    /* top: 0px; */
    /* position: absolute; */
/* z-index: -1; */
    /* margin-right: 8px; */
    opacity: 1;
    /* max-height: 1.5rem; */
}

.email:hover svg {
    background: rgba(255,255,255,0.5);
    /* opacity: 0.3; */
}



@media only screen and ( min-width: 768px) {
    .sign  {        
        margin-bottom: 40px;  
        min-width: 430px;
        min-height: 440px;
        width: 40vh;
        height: 40vh;

    }
    
    .sign-bg {
        background-color: rgba(250, 235, 215, 0.7);
    }

    .eule {
        margin-left: 12vw;
    }
} 


@media only screen and ( min-width: 1024px) { 
    .eule {
        margin-left: 20vw;
        transition: all 0.1s ease;
    }
}